*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--primary: #7a7da9;
	--dark-lavender: #7c7eaa;
	--dark-gray: #75777b;
	--light-gray: #d0d0d0;
	--grid-lines: #808080;
}
body {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	color: black;
	background: white;
	font-size: 12px;
	font-family: bbi-company, sans-serif;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, strong, b {
	font-weight: normal;
	line-height: 1.2;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 26px;
}
h3, h4, h5, h6 {
	font-size: 15px;
	line-height: 1.5;
}

/* Site header */
.site-header {
	position: fixed;
	width: 100%;
	background: white;
	z-index: 100;
}
.site-header > .inner {
	max-width: var(--site-max);
	width: 100%;
	margin: 0 auto;
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--grid-lines);
	border-top: 0;
}
.site-logo svg {
	width: 48px;
	height: 52px;
}
.has-hero .site-header {
	background: none;
	transition: ease-in-out 300ms;
	transition-property: background;
}
.has-hero .site-header > .inner {
	border-bottom-color: transparent;
	transition: ease-in-out 300ms border-bottom-color;
}
.has-hero .site-header .site-logo svg {
	width: 75px;
	height: 82px;
	transition: ease-in-out 300ms;
	transition-property: width, height;
}
.has-hero.scrolled .site-header {
	background: white;
}
.has-hero.scrolled .site-header>.inner {
	border-bottom-color: var(--grid-lines);
}
.has-hero.scrolled .site-header .site-logo svg {
	width: 48px;
	height: 52px;
}

.main-navigation .menu {
	list-style: none;
	margin: -5px -5px -8px 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.main-navigation .menu li {
	margin: 0;
	text-align: left;
}
.main-navigation .menu a {
	position: relative;
	display: block;
	color: black;
	padding: 5px;
	text-decoration: none;
	font-size: 11px;
	font-weight: 300;
	transition: 300ms linear color;
}
.main-navigation .menu .current-menu-item a {
	font-weight: normal;
}
.main-navigation .menu .current-menu-item a:hover {
	color: black;
}

.main-navigation .menu a:hover {
	color: var(--primary);
}

/* Content wrappers */
.site-content {
	max-width: var(--site-max);
	margin: 0 auto;
}
body:not(.has-hero) .site-main {
	padding-top: 115px;
}

/* Site footer */
.site-footer {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--site-max);
}
.site-footer .nav {
	background: #dedfea;
}
.site-footer > div > .inner {
	margin: 0 auto;
	max-width: var(--site-max);
}
.site-footer .nav > .inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px;
}
.site-footer .linkedin {
	padding: 5px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: -10px;
}
.site-footer .linkedin .icon {
	width: 17px;
	height: 14px;
	background: url('../../images/linkedin.png') no-repeat 0 0;
	background-size: 100% auto;
	display: block;
}
.site-footer .copyright {
	background: var(--dark-lavender);
	color: var(--light-gray);
	font-size: 8px;
	font-weight: 300;
	text-align: center;
	padding: 8px;
	letter-spacing: 0.75px;
}
.site-footer .logo-strip {
	border-top: 1px solid var(--grid-lines);
	border-bottom: 1px solid var(--grid-lines);
	padding: 15px 25px;
	text-align: center;
	background: #eeeef4;
}
.site-footer .logo-strip svg {
	display: inline-block;
	vertical-align: middle;
	color: var(--dark-gray);
	margin: 0 12px;
}
.site-footer .logo-strip .logo-ouidad {
	height: 10px;
	width: 36px;
}
.site-footer .logo-strip .logo-bioionic {
	height: 12px;
	width: 53px;
}
.site-footer .logo-strip .logo-wetbrush {
	height: 14px;
	width: 21px;
}
.site-footer .logo-strip .logo-goody {
	height: 16px;
	width: 32px;
}
.site-footer .logo-strip .logo-epic {
	height: 12px;
	width: 31px;
}
.site-footer .logo-strip .logo-solano {
	height: 8px;
	width: 35px;
}
.site-footer .logo-strip .logo-ace {
	height: 10px;
	width: 38px;
}

.site-content a {
	color: black;
	font-weight: normal;
	text-decoration: underline;
	transition: 300ms linear color;
}
.site-content a:hover {
	color: var(--primary);
}
.entry {
	margin-bottom: 35px;
}

.entry-header a {
	color: #111;
	font-size: 2rem;
}

.says {
	display: none;
}


/* Hero */

.hero {
	height: 100vh;
	position: relative;
	max-width: var(--site-max);
	margin-left: auto;
	margin-right: auto;
}
.admin-bar .hero {
	height: calc(100vh - 46px);
}
.hero .image {
	position: absolute;
	z-index: 0;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	background: no-repeat center center;
	background-size: cover;
}
.hero .fade {
	position: absolute;
	z-index: 1;
	height: 50%;
	bottom: 0;
	left: 0;
	width: 100%;
}
.hero .text {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: flex-end;
	margin: 0 auto;
	max-width: var(--site-max);
}
.hero .text .inner {
	padding: 0 60px 25px 25px;
}
@media(min-width: 568px) {
	.hero, .admin-bar .hero {
		height: 540px;
	}
	.hero .text .inner {
		width: 50%;
		padding-right: 0;
	}
}
@media(min-width: 768px) {
	.hero .text .inner {
		width: 33.3333%;
		padding-bottom: 75px;
	}
}
@media(min-width: 960px) {
	.hero .text .inner {
		width: 25%;
	}
}


/* Sections */
section {
	border-top: 1px solid var(--grid-lines);
}
section, section h2, section h3, section h4 {
	font-weight: 300;
}

/* Section: Image across columns */
.section-image-across-columns > .inner {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.section-image-across-columns .image {
	min-height: 540px;
	display: flex;
	position: relative;
}
.section-image-across-columns .image.padded {
	padding: 25px;
}
.section-image-across-columns .image .fill {
	flex: 1;
	background: no-repeat center center;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.section-image-across-columns .image.padded .fill {
	left: 25px;
	top: 25px;
	width: calc(100% - 50px);
	height: calc(100% - 50px);
}
.section-image-across-columns .image img {
	width: 100%;
	display: block;
	align-self: center;
	visibility: hidden;
}
.section-image-across-columns > .inner > .first {
	border-right: 1px solid var(--grid-lines);
}
.section-image-across-columns .text {
	padding: 25px;
}
.section-image-across-columns .text .title {
	margin-top: 0;
}

/* Section: Locations */
.section-locations .locations {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.section-locations .locations > .location {
	flex: 0 1 33.333333333%;
	border-right: 1px solid var(--grid-lines);
	border-bottom: 1px solid var(--grid-lines);
	position: relative;
	padding: 70px 25px 25px;
}
.section-locations .locations > .location:nth-child(3),
.section-locations .locations > .location:nth-child(6),
.section-locations .locations > .location:nth-child(9) {
	border-right: 0;
}
.section-locations .location .section-title {
	position: absolute;
	left: 25px;
	top: 23px;
	margin: 0;
}
.section-locations .location .image {
	padding-top: 100%;
	background-size: cover;
	background: no-repeat center center;
}
.section-locations .location .title {
	margin: 25px 0 0px;
}

/* Section: Brand Grid */
.section-brands .intro {
	display: grid;
	grid-template-columns: 1fr 2fr;
	border-bottom: 1px solid var(--grid-lines);
}
.section-brands .intro .title,
.section-brands .intro .body {
	align-items: center;
	display: flex;
}
.section-brands .intro .inner {
	padding: 25px;
}
.section-brands .intro .title {
	border-right: 1px solid var(--grid-lines);
}
.section-brands .intro .section-title {
	margin: 0;
}
.section-brands .intro .body p:first-child {
	margin-top: 0;
}
.section-brands .intro .body p:last-child {
	margin-bottom: 0;
}

.section-brands .brands {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 25px 13px;
}
.section-brands .brands .brand {
	flex: 0 1 33.333333333%;
	position: relative;
	padding: 12px;
}
.section-brands .brands .brand > .inner {
	position: relative;
}
.section-brands .brand .image {
	padding-top: 100%;
	background-size: cover;
	background: no-repeat center center;
}
.section-brands .brand .text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: linear 300ms opacity;
	color: white;
	cursor: default;
}
.section-brands .brand .text>.inner {
	padding: 25px;
	position: relative;
	z-index: 1;
}
.section-brands .brand .text .bg {
	background: var(--primary);
	opacity: 0.9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.section-brands .brand .text .name {
	display: none;
}
.section-brands .brand:hover .text {
	opacity: 1;
}

/* Section: Quotes */
.section-quotes {
	background: #dedfea;
}
.section-quotes > .inner {
	position: relative;
	height: 100%;
}
.section-quotes .quote {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.section-quotes .quote > .inner {
	max-width: 300px;
	width: 80%;
	margin: 0 auto;
}
.section-quotes .quote .name {
	display: none;
}
.section-quotes .logo svg {
	height: 35px;
	width: 100%;
	margin-top: 35px;
}
.section-quotes .logo .logo-ace {
	height: 32px;
}
.section-quotes .logo .logo-bioionic {
	height: 29px;
}
.section-quotes .logo .logo-epic {
	height: 42px;
}
.section-quotes .logo .logo-goody {
	height: 61px;
}
.section-quotes .logo .logo-ouidad {
	height: 35px;
}
.section-quotes .logo .logo-solano {
	height: 29px;
}
.section-quotes .logo .logo-wetbrush {
	height: 80px;
}
.section-quotes .quote .body {
	margin-bottom: 35px;
	font-weight: 300;
	font-size: 15px;
}
.section-quotes .quote.hidden {
	opacity: 0;
}
.section-quotes .quote.has-transition {
	transition: 300ms linear opacity;
}

/* Section: Feature */
.section-feature > .inner {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.section-feature .image {
	min-height: 346px;
	display: flex;
	padding: 25px;
	flex: 1 0 55%;
}
.section-feature .image.second {
	order: 2;
}
.section-feature .text.first {
	order: 1;
}
.section-feature .image img {
	width: 100%;
	display: none;
	height: auto;
	align-self: center;
}
.section-feature .image .fill {
	flex: 1;
	background: center center no-repeat;
	background-size: cover;
}
@media (min-width: 768px) {
	.section-feature .image img {
		display: block;
	}
	.section-feature .image .fill {
		display: none;
	}
}
.section-feature .text {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex: 1 0 45%;
	padding: 25px;
}
.section-feature .text > .inner {
	max-width: 240px;
}

/* Section: Job listing */
.section-jobs {
	padding-bottom: 80px;
}
.section-jobs .section-title {
	margin: 0;
}
.section-jobs > .inner {
	padding: 25px;
}
.section-jobs .empty {
	font-weight: normal;
	font-size: 16px;
	padding: 0 25px;
	margin: 0;
}
.section-jobs .list {
	margin-top: -50px;
}
.section-jobs .list .hidden {
	display: none;
}
.section-jobs .list .group  {
	margin: 50px 0;
}
.section-jobs .list .group > .title {
	background:#dedfea;
	padding: 20px 25px 15px;
	margin: 0;
	line-height: 1;
}
.section-jobs .list .jobs {
	padding: 10px 25px;
}
.section-jobs .list .jobs table {
	width: 100%;
	border-collapse: collapse;
}
.section-jobs .list .jobs table th {
	text-align: left;
	font-weight: normal;
	font-size: 12px;
}
.section-jobs .list .jobs table td {
	font-size: 16px;
	padding: 10px 0;
	border-bottom: 1px solid var(--grid-lines);
}
.section-jobs .list .jobs table .position {
	width: 50%;
}
.section-jobs .list .jobs table .location {
	width: 40%;
}
.section-jobs .list .jobs .link {
	text-align: right;
}
.section-jobs .list .jobs .link a {
	text-transform: uppercase;
	text-decoration: none;
}



section.last .locations[data-count="3"] > .location,
section.last > .inner > div,
section.last {
	border-bottom: 0;
}

.filters {
	margin-top: 12px;
}
.filter {
	display: flex;
	flex-direction: row;
}
.filter + .filter {
	margin-top: 25px;
}
.filter .group-name {
	flex: 0 1 12.5%;
}
.filter .choices {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	margin: -5px;
}
.filter .choice {
	flex: 0 1 15%;
	padding: 5px;
}
.filter .choice .name {
	font-size: 11px;
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}
.filter .choice input {
	position: absolute;
	left: -100000px;
}
.filter .choice .check {
	display: inline-block;
	border-radius: 2px;
	border: 1px solid black;
}
.filter .choice .check .fill {
	display: block;
	width: 4px;
	height: 4px;
	background: black;
	border-radius: 1px;
	margin: 2px;
	visibility: hidden;
}
.filter .choice input:checked ~ .check .fill {
	visibility: visible;
}
.filter .choice input:disabled ~ * {
	opacity: 0.3;
	pointer-events: none;
}


@media(min-width: 960px) {
	.site-max-960px .site-content,
	.site-max-960px .site-footer,
	.site-max-960px .hero {
		border-left: 1px solid var(--grid-lines);
		border-right: 1px solid var(--grid-lines);
	}
}
@media(min-width: 1120px) {
	.site-max-1120px .site-content,
	.site-max-1120px .site-footer,
	.site-max-1120px .hero {
		border-left: 1px solid var(--grid-lines);
		border-right: 1px solid var(--grid-lines);
	}
}
@media(min-width: 1280px) {
	.site-max-1280px .site-content,
	.site-max-1280px .site-footer,
	.site-max-1280px .hero {
		border-left: 1px solid var(--grid-lines);
		border-right: 1px solid var(--grid-lines);
	}
}
@media(min-width: 1440px) {
	.site-max-1440px .site-content,
	.site-max-1440px .site-footer,
	.site-max-1440px .hero {
		border-left: 1px solid var(--grid-lines);
		border-right: 1px solid var(--grid-lines);
	}
}
@media(min-width: 1600px) {
	.site-max-1600px .site-content,
	.site-max-1600px .site-footer,
	.site-max-1600px .hero {
		border-left: 1px solid var(--grid-lines);
		border-right: 1px solid var(--grid-lines);
	}
}
