*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--primary: #7a7da9;
	--dark-lavender: #7c7eaa;
	--dark-gray: #75777b;
	--light-gray: #d0d0d0;
	--grid-lines: #808080;
	--desktop-padding: 25px;
	--mobile-padding: 20px;
}
body {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	color: black;
	background: white;
	font-size: 16px;
	font-family: bbi-company, sans-serif;
	line-height: 1.66;
}
h1, h2, h3, h4, h5, h6, strong, b {
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}
h1 {
	font-size: 36px;
	letter-spacing: 1.8px;
}
h2 {
	font-size: 33px;
	letter-spacing: 1.6px;
}
h3, h4, h5, h6 {
	font-size: 24px;
	line-height: 1.5;
}

/* Site header */
.site-header {
	position: fixed;
	width: 100%;
	background: white;
	z-index: 100;
}
.site-header > .inner {
	max-width: var(--site-max);
	width: 100%;
	margin: 0 auto;
	padding: var(--mobile-padding);
	padding-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--grid-lines);
}
.site-header .main-navigation:not(.mobile) {
	display: none;
}
.site-header .main-navigation.mobile {
	display: none;
	padding-bottom: 50px;
	border-bottom: 1px solid var(--grid-lines);
}
.site-header.menu-open .main-navigation.mobile {
	display: block;
}
.site-header .main-navigation.mobile .menu li {
	text-align: center;
}
.site-header .main-navigation.mobile .menu a {
	font-size: 30px;
	letter-spacing: 1px;
	padding: 12px 10px;
}
.mobile-nav-btn {
	padding: 20px;
	margin: -20px;
	position: absolute;
	top: 40px;
	right: 20px;
	background: none;
	border: 0;
	border-radius: 0;
	outline: none;
}
.mobile-nav-btn .line {
	width: 25px;
	height: 2px;
	background: var(--primary);
	margin: 6px 0;
	transition: ease-in-out 300ms;
	transition-property: transform, width, opacity;
}
.site-header.menu-open .mobile-nav-btn .line1 {
	transform: translate(3.5px, 8px) rotate(-45deg);
	width: 32px;
}
.site-header.menu-open .mobile-nav-btn .line2 {
	transform: translate(3.5px, 0) rotate(-45deg);
	width: 32px;
	opacity: 0;
}
.site-header.menu-open .mobile-nav-btn .line3 {
	transform: translate(3.5px, -8px) rotate(45deg);
	width: 32px;
}
.site-logo svg {
	width: 60px;
	height: 65px;
}
.has-hero .site-header {
	background: none;
	transition: ease-in-out 300ms;
	transition-property: background;
}
.has-hero .site-header > .inner {
	border-bottom-color: transparent;
	transition: ease-in-out 300ms border-bottom-color;
}
.has-hero .site-header .site-logo svg {
	width: 100px;
	height: 109px;
	transition: ease-in-out 300ms;
	transition-property: width, height;
}
.has-hero.scrolled .site-header {
	background: white;
}
.has-hero.scrolled .site-header>.inner {
	border-bottom-color: var(--grid-lines);
}
.has-hero.scrolled .site-header.menu-open>.inner,
.site-header.menu-open>.inner {
	border-bottom-color: transparent;
}
.has-hero.scrolled .site-header .site-logo svg {
	width: 60px;
	height: 65px;
}
@media(max-width: 567px) {
	.has-hero .site-header.menu-open .site-logo svg {
		width: 60px;
		height: 65px;
	}
	.has-hero .site-header.menu-open {
		background: white;
	}
}

.main-navigation .menu {
	list-style: none;
	margin: -5px -5px -8px 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.main-navigation .menu li {
	margin: 0;
	text-align: left;
}
.main-navigation .menu a {
	position: relative;
	display: block;
	color: black;
	padding: 5px;
	text-decoration: none;
	font-size: 11px;
	font-weight: 300;
	transition: 300ms linear color;
}
.main-navigation .menu .current-menu-item a {
	font-weight: normal;
}
.main-navigation .menu .current-menu-item a:hover {
	color: black;
}

.main-navigation .menu a:hover {
	color: var(--primary);
}

/* Content wrappers */
.site-content {
	max-width: var(--site-max);
	margin: 0 auto;
}
body:not(.has-hero) .site-main {
	padding-top: 115px;
}
.entry {
	padding: var(--mobile-padding);
}
.site-main .entry:last-child {
	margin-bottom: 0;
	padding-bottom: 50px
}

/* Site footer */
.site-footer {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--site-max);
}
.site-footer .company-info {
	background: #dedfea;
}
.site-footer > div > .inner {
	margin: 0 auto;
	max-width: var(--site-max);
}
.site-footer .company-info > .inner {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px var(--mobile-padding);
}
.site-footer .company-info .title {
	font-size: 12px;
	margin-bottom: 4px;
}
.site-footer .company-info a {
	font-size: 12px;
	color: inherit;
	padding: 6px;
	text-decoration: none;
	font-weight: 300;
	letter-spacing: 1px;
	transition: 300ms linear color;
}
.site-footer .company-info.use-uppercase a {
	text-transform: uppercase;
}
.site-footer .company-info a:hover {
	color: var(--primary);
}
.site-footer .linkedin {
	display: inline-block;
	margin-bottom: -5px;
}
.site-footer .linkedin .icon {
	width: 40px;
	height: 28px;
	background: url('../../images/linkedin.png') no-repeat center center;
	background-size: contain;
	display: block;
}
.site-footer .copyright {
	background: var(--dark-lavender);
	color: var(--light-gray);
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	padding: 18px;
	letter-spacing: 1.5px;
}
.site-footer .logo-strip {
	border-top: 1px solid var(--grid-lines);
	border-bottom: 1px solid var(--grid-lines);
	padding: 10px var(--mobile-padding);
	text-align: center;
	background: #eeeef4;
}
.site-footer .logo-strip > .inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 35px 0;
}
.site-footer .logo-strip svg {
	color: var(--dark-gray);
	margin: 10px 0;
	width: 100%;
}
.site-footer .logo-strip .logo-ouidad {
	height: 19px;
}
.site-footer .logo-strip .logo-bioionic {
	height: 23px;
}
.site-footer .logo-strip .logo-wetbrush {
	height: 28px;
}
.site-footer .logo-strip .logo-goody {
	height: 32px;
}
.site-footer .logo-strip .logo-epic {
	height: 23px;
}
.site-footer .logo-strip .logo-solano {
	height: 16px;
}
.site-footer .logo-strip .logo-twist {
	height: 24px;
}
.site-footer .logo-strip .logo-ace {
	height: 19px;
}
.site-footer nav {
	margin-top: 20px;
}
.site-footer nav ul {
	list-style: none;
	padding: 0;
	margin: -8px;
}
.site-footer nav ul li {
	display: inline-block;
	margin: 2px;
}
.site-footer .company-info nav a {
	font-size: 10px;
}

.site-content {
	word-wrap: break-word;
}
.site-content a {
	color: black;
	font-weight: normal;
	text-decoration: underline;
	transition: 300ms linear color;
}
.site-content a:hover {
	color: var(--primary);
}
.entry {
	margin-bottom: 35px;
}

.says {
	display: none;
}


/* Hero */

.hero {
	height: 100vh;
	position: relative;
	max-width: var(--site-max);
	margin-left: auto;
	margin-right: auto;
}
.admin-bar .hero {
	height: calc(100vh - 46px);
}
.hero .image {
	position: absolute;
	z-index: 0;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	background: no-repeat center center;
	background-size: cover;
}
.hero .fade {
	position: absolute;
	z-index: 1;
	height: 50%;
	bottom: 0;
	left: 0;
	width: 100%;
}
.hero .text {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: flex-end;
	margin: 0 auto;
	max-width: var(--site-max);
}
.hero .text .title {
	margin: 0 0 0.25em;
}
.hero .text .inner {
	padding: 0 60px var(--mobile-padding) var(--mobile-padding);
}
.hero .animated-title .animated-word {
	font-style: italic;
}
.hero .animated-title .anim {
	position: relative;
}


/* Sections */
section {
	border-top: 1px solid var(--grid-lines);
}
section, section h2, section h3, section h4 {
	font-weight: 300;
}

/* Section: Image across columns */
.section-image-across-columns > .inner {
	width: 100%;
}
.section-image-across-columns .image {
	display: flex;
	position: relative;
}
.section-image-across-columns .image.padded {
	padding: var(--mobile-padding);
}
.section-image-across-columns .image .fill {
	flex: 1;
	background: no-repeat center center;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.section-image-across-columns .image.padded .fill {
	left: var(--mobile-padding);
	top: var(--mobile-padding);
	width: calc(100% - 40px);
	height: calc(100% - 40px);
}
.section-image-across-columns .image img {
	width: 100%;
	display: block;
	align-self: center;
	position: relative;
	opacity: 0;
	z-index: 1;
}
.section-image-across-columns .text {
	padding: var(--mobile-padding);
}
.section-image-across-columns .text .title {
	margin-top: 0;
	margin-bottom: -10px;
}

/* Section: Locations */
.section-locations .locations {
	padding: 25px 0 50px;
}
.section-locations .title-body {
	border-bottom: 1px solid var(--grid-lines);
}
.section-locations .locations > .location {
	position: relative;
	padding: var(--mobile-padding);
}
.section-locations.title-only .locations > .location:first-child {
	padding-top: 70px;
}
.section-locations .location .section-title {
	position: absolute;
	left: var(--mobile-padding);
	top: 23px;
	margin: 0;
}
.section-locations .location .image img {
	display: block;
	width: 100%;
}
.section-locations .location .title {
	margin: var(--mobile-padding) 0 0px;
}
.section-locations .location .description {
	margin-top: -15px;
}

/* Section: Brand Grid */
.section-with-title-body .title-body {
	padding: 80px var(--mobile-padding);
}
.section-brands .title-body {
	border-bottom: 1px solid var(--grid-lines);
}
.section-with-title-body .title-body .section-title {
	margin: 0 0 10px;
}
.section-with-title-body .title-body .body p:first-child {
	margin-top: 0;
}
.section-with-title-body .title-body .body p:last-child {
	margin-bottom: 0;
}

.section-brands .brands {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 40px 10px 10px;
}
.section-brands .brands .brand {
	flex: 0 1 50%;
	position: relative;
	padding: 10px;
	display: block;
}
.section-brands .brands a.brand {
	cursor: pointer;
	color: black;
}
.section-brands .brands a.brand:hover {
	color: black;
}
.section-brands .brands a.brand * {
	pointer-events: none;
}
.section-brands .brands .brand > .inner {
	position: relative;
}
.section-brands .brand .image {
	padding-top: 100%;
	background: no-repeat center center;
	background-size: cover;
}
.section-brands .brand .image img {
	display: none;
}
.section-brands .brand .text>.inner {
	position: relative;
	z-index: 1;
}
.section-brands .brand .text .name,
.section-brands .brand .text .description,
.section-brands .brand .text .cta {
	display: none;
}
.section-brands .logo svg {
	display: block;
	transform: translateZ(0);
}

@media(max-width: 567px) {
	.section-brands .brands .brand .logo {
		text-align: center;
		margin-top: var(--mobile-padding);
	}
	.section-brands .logo svg {
		margin: 0 auto;
	}
	.section-brands .logo-ouidad {
		height: 19px;
		width: 68px;
	}
	.section-brands .logo-wetbrush {
		height: 28px;
		width: 42px;
	}
	.section-brands .logo-goody {
		height: 32px;
		width: 63px;
	}
	.section-brands .logo-bioionic {
		height: 23px;
		width: 79px;
	}
	.section-brands .logo-solano {
		height: 16px;
		width: 71px;
	}
	.section-brands .logo-ace {
		height: 19px;
		width: 72px;
	}
}

/* Section: Quotes */
.section-quotes {
	background: #dedfea;
}
.section-quotes > .inner {
	position: relative;
	height: 100%;
}
.section-quotes .quote {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.section-quotes .quote > .inner {
	max-width: 400px;
	width: 80%;
	margin: 0 auto;
}
.section-quotes .quote .name {
	display: none;
}
.section-quotes .logo svg {
	height: 35px;
	width: 100%;
	margin-top: 75px;
}
.section-quotes .logo .logo-ace {
	height: 23px;
}
.section-quotes .logo .logo-bioionic {
	height: 21px;
}
.section-quotes .logo .logo-epic {
	height: 30px;
}
.section-quotes .logo .logo-goody {
	height: 42px;
}
.section-quotes .logo .logo-ouidad {
	height: 25px;
}
.section-quotes .logo .logo-solano {
	height: 21px;
}
.section-quotes .logo .logo-wetbrush {
	height: 39px;
}
.section-quotes .quote .body {
	margin-bottom: 75px;
	font-weight: 300;
	font-size: 15px;
}
.section-quotes .quote .byline {
	white-space: nowrap;
}
.section-quotes .quote.hidden {
	opacity: 0;
}
.section-quotes .quote.has-transition {
	transition: 300ms linear opacity;
}

/* Section: Feature */
.section-feature > .inner {
	padding: 50px var(--mobile-padding);
}
.section-feature .image img {
	width: 100%;
	height: auto;
	display: block;
}
.section-feature .image .fill {
	display: none;
}
.section-feature .text .body :last-child {
	margin-bottom: 0;
}

/* Section: Job listing and Articles */
.section-jobs {
	padding-bottom: 80px;
}
.section-jobs .section-title,
.section-articles .section-title {
	margin: 0;
}
.section-jobs > .inner,
.section-articles > .inner {
	padding: var(--mobile-padding);
}
.section-jobs .empty,
.section-articles .empty {
	font-weight: normal;
	font-size: 16px;
	padding: 0 var(--mobile-padding);
	margin: 0;
}
.section-jobs .list {
	margin-top: -50px;
}
.section-jobs .list .hidden,
.section-articles .articles .hidden {
	display: none;
}
.section-jobs .list .group  {
	margin: 50px 0;
}
.section-jobs .list .group > .title {
	background:#dedfea;
	padding: 20px var(--mobile-padding) 15px;
	margin: 0;
	line-height: 1;
}
.section-jobs .list .jobs {
	padding: 10px var(--mobile-padding);
}
.section-jobs .list .jobs table {
	width: 100%;
	border-collapse: collapse;
}
.section-jobs .list .jobs table th {
	text-align: left;
	font-weight: normal;
	font-size: 12px;
}
.section-jobs .list .jobs table td {
	font-size: 16px;
	padding: 10px 0;
	border-bottom: 1px solid var(--grid-lines);
}
.section-jobs .list .jobs table .position {
	width: 50%;
}
.section-jobs .list .jobs table .location {
	width: 40%;
}
.section-jobs .list .jobs .link {
	text-align: right;
}
.section-jobs .list .jobs .link a {
	text-transform: uppercase;
	text-decoration: none;
}


/* Section: Articles */
.section-articles .articles {
	padding: 10px 10px 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.section-articles .article {
	padding: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.section-articles .article .image {
	background: #999 no-repeat center center;
	background-size: cover;
	padding-top: 100%;
}
.section-articles .article img,
.section-articles .article picture {
	display: block;
	width: 100%;
}
.section-articles .featured .article .image {
	padding-top: 66.667%;
}
.section-articles .article .meta {
	font-size: 7px;
	color: var(--primary);
	display: none;
	margin: 0 0 8px;
}
.section-articles .article .image,
.section-articles .article img {
	margin-bottom: var(--mobile-padding);
}
.section-articles .article .meta .type {
	text-transform: uppercase;
	flex: 1;
}
.section-articles .article .meta .date {
	text-align: right;
}
.section-articles .article .title {
	font-size: 15px;
	margin: 0;
}
.section-articles .article .title .publication {
	font-weight: normal;
}
.section-articles .article .description {
	margin-top: -2px;
	font-size: 11px;
	display: none;
}
.section-articles .article .btn-wrap {
	flex: 1;
	align-items: flex-end;
	display: flex;
}
.section-articles .article .more-btn,
.section-locations .location .more-btn {
	margin-top: 10px;
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}
.section-articles .featured,
.section-articles .unfeatured {
	position: relative;
	border-bottom: 1px solid var(--grid-lines);
}
.section-articles .featured .articles {
	padding: 0;
}
.section-articles .featured .article {
	flex: 0 1 100%;
	padding: 70px var(--mobile-padding) var(--mobile-padding);
}
.section-articles .featured .section-title {
	position: absolute;
	left: var(--mobile-padding);
	top: var(--mobile-padding);
}
.section-articles .filtered-list .article {
	flex: 0 1 50%;
	padding-bottom: var(--mobile-padding)
}
.section-articles .filter-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section-articles .filter-header .section-title {
	flex: 1;
}
.section-articles .results-notice {
	font-weight: 300;
	font-size: 12px;
	color: var(--primary);
	flex: 0.5;
	text-align: right;
}
.section-articles .results-notice .total {
	font-weight: normal;
}
.section-articles .zero-results {
	color: red;
	font-style: italic;
	font-weight: normal;
}
.section-articles .results-notice .hidden {
	display: none;
}

.section-locations.max-cols2 .locations > .location:nth-last-child(-n + 2):nth-child(2n + 1),
.section-locations.max-cols2 .locations > .location:nth-last-child(-n + 2):nth-child(2n + 1) ~ .location,
.section-locations.max-cols3 .locations > .location:nth-last-child(-n + 3):nth-child(3n + 1),
.section-locations.max-cols3 .locations > .location:nth-last-child(-n + 3):nth-child(3n + 1) ~ .location,
.section-locations.max-cols4 .locations > .location:nth-last-child(-n + 2):nth-child(2n + 1),
.section-locations.max-cols4 .locations > .location:nth-last-child(-n + 2):nth-child(2n + 1) ~ .location,
section.last > .inner > div,
section.last {
	border-bottom-width: 0;
}

.filters {
	margin-top: 17px;
}
.filter + .filter {
	margin-top: var(--mobile-padding);
}
.filter .group-name {
	flex: 0 1 12.5%;
	margin-bottom: 10px;
}
.filter .choices {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	margin: -5px;
}
.filter .choice {
	flex: 0 1 50%;
	padding: 5px;
}
.filter .choice .name {
	font-size: inherit;
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}
.filter .choice input {
	position: absolute;
	left: -100000px;
}
.filter .choice .check {
	display: inline-block;
	border-radius: 2px;
	border: 1px solid black;
	transform: translateY(1px);
}
.filter .choice .check .fill {
	display: block;
	width: 6px;
	height: 6px;
	background: black;
	border-radius: 1px;
	margin: 3px;
	visibility: hidden;
}
.filter .choice input:checked ~ .check .fill {
	visibility: visible;
}
.filter .choice input:disabled ~ * {
	opacity: 0.3;
	pointer-events: none;
}


/*********************************************
	small tablet or landscape phone breakpoint
**********************************************/

@media(min-width: 568px) {
	body {
		font-size: 12px;
		line-height: 1.5;
	}
	h1 {
		font-size: 30px;
		letter-spacing: 1.2px;
	}
	h2 {
		font-size: 26px;
		letter-spacing: 1.3px;
	}
	h3, h4, h5, h6 {
		font-size: 15px;
		line-height: 1.5;
	}
	.entry-header .title {
		margin-top: 0;
	}
	
	.site-header > .inner,
	.site-footer .company-info > .inner,
	.section-image-across-columns .image.padded,
	.section-image-across-columns .text,
	.section-with-title-body .title-body .inner,
	.section-brands .brand .text>.inner,
	.section-feature .image,
	.section-feature .text,
	.section-jobs > .inner,
	.section-articles > .inner,
	.entry {
		padding: var(--desktop-padding);
	}	
	.mobile-nav-btn {
		display: none;
	}
	.site-header .main-navigation:not(.mobile) {
		display: block;
	}
	.has-hero .site-header .site-logo svg {
		width: 99px;
		height: 108px;
	}
	.site-logo svg,
	.has-hero.scrolled .site-header .site-logo svg {
		width: 48px;
		height: 52px;
	}
	.site-footer .logo-strip {
		padding: 15px var(--desktop-padding);
	}
	.site-footer .copyright {
		font-size: 8px;
		letter-spacing: 0.75px;
		padding: 8px;
	}
	.site-footer .company-info .title {
		font-size: 11px;
	}
	.site-footer nav {
		margin-top: 15px;
	}	
	.site-footer .company-info a {
		font-size: 9px;
		padding: 6px;
		letter-spacing: 1px;
	}
	.site-footer .company-info nav a {
		font-size: 8px;
	}
	.site-footer .linkedin .icon {
		width: 17px;
		height: 14px;	
	}
	.site-footer .logo-strip > .inner {
		flex-direction: row;
		padding: 0;
	}
	.site-footer .logo-strip svg {
		margin: 0 15px;
	}
	.site-footer .logo-strip .logo-ouidad {
		height: 12px;
		width: 43px;
	}
	.site-footer .logo-strip .logo-bioionic {
		height: 15px;
		width: 58px;
	}
	.site-footer .logo-strip .logo-wetbrush {
		height: 18px;
		width: 25px;
	}
	.site-footer .logo-strip .logo-goody {
		height: 21px;
		width: 31px;
	}
	.site-footer .logo-strip .logo-epic {
		height: 15px;
		width: 34px;
	}
	.site-footer .logo-strip .logo-twist {
		height: 14px;
		width: 34px;
	}
	.site-footer .logo-strip .logo-solano {
		height: 11px;
		width: 49px;
		transform: translateY(-1px);
	}
	.site-footer .logo-strip .logo-ace {
		height: 13px;
		width: 42px;
	}
	
	.hero, .admin-bar .hero {
		height: 512px;
	}
	.hero .text .inner {
		width: 66.67%;
		padding: 0 0 var(--desktop-padding) var(--desktop-padding);
	}
	.hero .text .title {
		margin: 0 0 0.67em;
	}
	.section-image-across-columns .image {
		min-height: 540px;
	}
	.section-image-across-columns .image.padded .fill {
		left: var(--desktop-padding);
		top: var(--desktop-padding);
		width: calc(100% - 50px);
		height: calc(100% - 50px);
	}
	.section-image-across-columns:not(.full) > .inner > .first {
		border-right: 1px solid var(--grid-lines);
	}
	.section-image-across-columns.full .image,
	.section-image-across-columns.full .text {
		order: 0 !important;
	}
	.section-with-title-body .title-body {
		display: grid;
		grid-template-columns: 1fr 2fr;
		padding: 0;
	}
	section.max-cols2 .title-body {
		grid-template-columns: 1fr 1fr;
	}
	section.max-cols4 .title-body {
		grid-template-columns: 1fr 3fr;
	}
	.section-with-title-body .title-body .section-title {
		margin: 0;
	}	
	.section-with-title-body .title-body .title,
	.section-with-title-body .title-body .body {
		align-items: center;
		display: flex;
	}
	.section-with-title-body.valign-top .title-body .title,
	.section-with-title-body.valign-top .title-body .body {
		align-items: flex-start;
	}
	.section-with-title-body.valign-bottom .title-body .title,
	.section-with-title-body.valign-bottom .title-body .body {
		align-items: flex-end;
	}
	.section-with-title-body .title-body .title {
		border-right: 1px solid var(--grid-lines);
	}	
	.section-brands .brands {
		padding: var(--desktop-padding) 13px;
	}
	.section-brands .brands .brand {
		padding: 12px;
	}
	.section-brands .brand .text {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		transition: linear 300ms opacity;
		color: white;
		cursor: default;
	}
	.section-brands .brand .text .bg {
		background: var(--primary);
		opacity: 0.9;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
	.section-brands .brand .text .description {
		display: block;
		font-size: 9px;
	}
	.section-brands .brand .text .cta {
		position: absolute;
		font-size: 9px;
		text-transform: uppercase;
		left: 25px;
		bottom: 25px;
		display: block;
		z-index: 10;
	}
	.section-brands .brand:hover .text {
		opacity: 1;
	}

	.section-quotes .logo svg {
		margin-top: 35px;
	}
	.section-quotes .logo .logo-ace {
		height: 32px;
	}
	.section-quotes .logo .logo-bioionic {
		height: 29px;
	}
	.section-quotes .logo .logo-epic {
		height: 42px;
	}
	.section-quotes .logo .logo-goody {
		height: 61px;
	}
	.section-quotes .logo .logo-ouidad {
		height: 35px;
	}
	.section-quotes .logo .logo-solano {
		height: 29px;
	}
	.section-quotes .logo .logo-wetbrush {
		height: 60px;
	}
	.section-quotes .quote .body {
		margin-bottom: 35px;
	}

	.section-feature > .inner {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.section-feature .image {
		display: flex;
		min-height: 346px;
		display: flex;
		padding: var(--mobile-padding);
		flex: 1 0 55%;
	}
	.section-feature .image.second {
		order: 2;
	}
	.section-feature .text.first {
		order: 1;
	}
	.section-feature .image img {
		display: none;
		align-self: center;
	}
	.section-feature .image .fill {
		flex: 1;
		background: center center no-repeat;
		background-size: cover;
		display: block;
	}
	.section-feature .text {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex: 1 0 45%;
	}
	.section-feature .text > .inner {
		max-width: 260px;
	}

	.section-jobs .empty,
	.section-articles .empty {
		padding: 0 var(--desktop-padding);
	}
	.section-jobs .list .group > .title {
		padding: 20px var(--desktop-padding) 15px;
	}
	.section-jobs .list .jobs {
		padding: 10px var(--desktop-padding);
	}
	.section-articles .articles {
		padding: 0 13px;
	}
	.section-articles .article {
		padding: 12px;
		border-bottom: 1px solid var(--grid-lines);
		border-right: 1px solid var(--grid-lines);
	}
	.section-articles .article.last-row {
		border-bottom-width: 0;
	}
	.section-articles .article.last-col {
		border-right-width: 0;
	}
	.section-articles .last-row .article {
		border-bottom-width: 0;
	}
	.section-articles .article.last-col:not(.last-row):before,
	.section-articles .article.first-col:not(.last-row):before {
		display: block;
		content: '';
		background: var(--grid-lines);
		width: 13px;
		height: 1px;
		position: absolute;
		bottom: -1px;
	}
	.section-articles .article.first-col:not(.last-row):before {
		left: -13px;
	}
	.section-articles .article.last-col:not(.last-row):before {
		right: -13px;
	}
	.section-articles .featured .article {
		padding: 70px var(--desktop-padding) var(--desktop-padding);
	}
	.section-articles .featured .section-title {
		left: var(--desktop-padding);
		top: var(--desktop-padding);
	}
	.section-articles .filtered-list .article {
		padding-bottom: var(--desktop-padding)
	}
	.section-articles .filtered-list .article {
		flex-basis: 33.333%;
	}
	.section-articles .featured .article {
		flex-basis: 50%;
	}
	.section-articles .article .meta {
		display: flex;
	}
	.section-articles .article .description {
		display: block;
	}
	.section-articles .article .image,
	.section-articles .article img {
		margin-bottom: var(--desktop-padding);
	}
	.section-image-across-columns > .inner {
		display: flex;
		flex-direction: row;
	}
	.section-image-across-columns.full > .inner {
		flex-direction: column;
	}
	.section-image-across-columns .text .title {
		margin-bottom: 0.83em;
	}
	.section-locations .locations {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
	}
	.section-locations .locations > .location {
		flex: 0 1 25%;
		border-right: 1px solid var(--grid-lines);
		border-bottom: 1px solid var(--grid-lines);
		position: relative;
		padding: var(--desktop-padding);
		display: flex;
		flex-direction: column;
	}
	.section-locations.title-only.max-cols2 .locations > .location:nth-child(-n+2),
	.section-locations.title-only.max-cols3 .locations > .location:nth-child(-n+3),
	.section-locations.title-only.max-cols4 .locations > .location:nth-child(-n+4) {
		padding-top: 70px;
	}
	.section-locations.section-with-title-body  .locations > .location {
		padding-top: var(--desktop-padding);
	}
	.section-locations .location .section-title {
		left: var(--desktop-padding);
	}
	.section-locations .location .title {
		margin: var(--desktop-padding) 0 0px;
	}

	.section-locations.max-cols2 .locations > .location:nth-child(even),
	.section-locations.max-cols3 .locations > .location:nth-child(3n+0),
	.section-locations.max-cols4 .locations > .location:nth-child(even) {
		border-right-width: 0;
	}
	
	.section-locations.max-cols2 .locations > .location,
	.section-locations.max-cols4 .locations > .location {
		flex-basis: 50%;
	}
	.section-locations.max-cols3 .locations > .location {
		flex-basis: 33.333333333%;
	}
	.section-locations .location .text {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
	.section-locations .location .link {
		flex: 1;
		align-items: flex-end;
		display: flex;	
	}
	.section-locations .location .more-btn {
		margin-top: 0;
	}
	.section-locations .location .description {
		margin-top: 0;
	}
	.section-locations .location .title + .link {
		margin-top: 20px;
	}
	.filter {
		display: flex;
		flex-direction: row;
	}
	.filter + .filter {
		margin-top: var(--desktop-padding);
	}
	.filter .group-name {
		margin-bottom: 0;
	}
	.filter .choice {
		flex: 0 1 25%;
		padding: 5px;
	}
	.filter .choice .name {
		font-size: 11px;
	}
	.filter .choice .check {
		transform: none;
	}
	.filter .choice .check .fill {
		width: 4px;
		height: 4px;
		margin: 2px;
	}
}

/*********************************************
	special use case breakpoint
**********************************************/
@media(min-width: 640px) {
	.section-brands .brand .text .description {
		font-size: 11px;
	}
	.section-brands .brand .text .cta {
		font-size: 11px;
	}
}
@media(min-width: 1024px) {
	.section-brands .brand .text .description {
		font-size: 12px;
	}
}


/*********************************************
	tablet portrait breakpoint
**********************************************/
@media(min-width: 768px) {
	.section-feature .image img {
		display: block;
	}
	.section-feature .image .fill {
		display: none;
	}
	.hero .text {
		align-items: flex-start;
		position: absolute;
		top: 170px;
	}
	.hero .text .inner {
		width: 38%;
		padding: 0 0 var(--desktop-padding) var(--desktop-padding);
	}
	.hero, .admin-bar .hero {
		height: 0;
		padding-top: 56.25%;
	}
	.main-navigation .menu a {
		font-weight: 400;
	}
}

/*********************************************
	small desktop and tablet landscape breakpoint
**********************************************/
@media(min-width: 960px) {
	body,
	.main-navigation .menu a {
		font-size: 15px;
	}
	h2 {
		font-size: 30px;
	}
	h3, h4, h5, h6 {
		font-size: 20px;
	}
	.site-max-960px .site-content,
	.site-max-960px .site-footer,
	.site-max-960px .site-header > .inner,
	.site-max-960px .hero {
		border-left: 1px solid var(--grid-lines);
		border-right: 1px solid var(--grid-lines);
	}
	.site-logo svg,
	.has-hero.scrolled .site-header .site-logo svg {
		width: 60px;
		height: 65px;
	}
	.filter .choice {
		flex-basis: 15%;
	}
	.section-brands .brands .brand {
		flex-basis: 33.333333333%;
	}
	.hero .text .inner {
		width: 33.3333%;
	}
	.section-locations.max-cols4 .locations > .location {
		flex-basis: 25%;
	}
	.section-locations.max-cols4 .locations > .location:nth-last-child(-n + 4):nth-child(4n + 1),
	.section-locations.max-cols4 .locations > .location:nth-last-child(-n + 4):nth-child(4n + 1) ~ .location {
		border-bottom-width: 0;
	}
	.section-locations.max-cols4 .locations > .location:nth-child(even) {
		border-right-width: 1px;
	}
	.section-locations.max-cols4 .locations > .location:nth-child(4n+0) {
		border-right-width: 0;
	}
}

/*********************************************
	large tablet and medium desktop breakpoint
**********************************************/
@media(min-width: 1120px) {
	.site-max-1120px .site-content,
	.site-max-1120px .site-footer,
	.site-max-1120px .site-header > .inner,
	.site-max-1120px .hero {
		border-left: 1px solid var(--grid-lines);
		border-right: 1px solid var(--grid-lines);
	}
	.hero, .admin-bar .hero {
		height: 750px;
		padding-top: 0;
	}
	.hero .text {
		top: 0;
		align-items: flex-end;
		padding-bottom: 200px;
	}
	h1 {
		font-size: 39px;
	}
	.section-articles .filtered-list .article {
		flex-basis: 25%;
	}
}

/*********************************************
	large tablet landscape breakpoint
**********************************************/
@media(min-width: 1280px) {
	.site-max-1280px .site-content,
	.site-max-1280px .site-footer,
	.site-max-1280px .site-header > .inner,
	.site-max-1280px .hero {
		border-left: 1px solid var(--grid-lines);
		border-right: 1px solid var(--grid-lines);
	}
	.section-brands .brand .text .description {
		font-size: 15px;
	}
	.section-brands .brand .text .cta {
		font-size: 12px;
	}
	.section-brands .logo-ouidad {
		height: 25px;
	}
	.section-brands .logo-wetbrush {
		height: 37px;
	}
	.section-brands .logo-goody {
		height: 42px;
	}
	.section-brands .logo-bioionic {
		height: 30px;
	}
	.section-brands .logo-solano {
		height: 21px;
	}
	.section-brands .logo-ace {
		height: 25px;
	}
}

/*********************************************
	large desktop breakpoint
**********************************************/
@media(min-width: 1440px) {
	.site-max-1440px .site-content,
	.site-max-1440px .site-footer,
	.site-max-1440px .site-header > .inner,
	.site-max-1440px .hero {
		border-left: 1px solid var(--grid-lines);
		border-right: 1px solid var(--grid-lines);
	}
}

/*********************************************
	huge desktop breakpoint
**********************************************/
@media(min-width: 1600px) {
	.site-max-1600px .site-content,
	.site-max-1600px .site-footer,
	.site-max-1600px .site-header > .inner,
	.site-max-1600px .hero {
		border-left: 1px solid var(--grid-lines);
		border-right: 1px solid var(--grid-lines);
	}
}

/*********************************************
	GDPR Cookie Banner customization
**********************************************/
#cookie-law-info-bar {
	box-shadow: none;
	font-size: 12px;
	text-align: left;
	padding: 20px;
}
.cli-plugin-button,
.cli-plugin-button.medium,
.cli_settings_button,
.cli-tab-footer .cli-btn {
	font-size: 12px;
	border: 1px transparent solid;
	padding: 14px 12px 12px;
	margin: 0;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	border-radius: 0;
}
.cli_settings_button {
	border: 1px solid white;
	display: inline-block;
	flex-grow: 1;
	font-weight: 400;
	text-transform: uppercase;
}
.cli-plugin-button,
.cli-plugin-button.medium {
	font-weight: bold;
	letter-spacing: 1px;
	flex-grow: 2;
}
.cli_settings_button + .cli-plugin-button {
	margin-left: 10px;
}
.cli-switch input:checked + .cli-slider {
	background-color: var(--primary);
}
.cli-tab-footer .cli-btn {
	text-transform: uppercase;
	font-weight: bold;
	background: black;
}
.cli-tab-header a.cli-nav-link,
.cli-switch .cli-slider:after,
span.cli-necessary-caption {
	transform: translateY(3px);
}
.cli-tab-header a:before {
	margin-top: -5px;
}
#cookie-law-info-bar .buttons {
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
}
#cookie-law-info-bar > span,
#cookie-law-info-bar .cli-wrapper > span {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}
.site-max-1280px #cookie-law-info-bar > span,
.site-max-1280px #cookie-law-info-bar .cli-wrapper > span {
	max-width: 1280px;
}
.site-max-1440px #cookie-law-info-bar > span,
.site-max-1440px #cookie-law-info-bar .cli-wrapper > span {
	max-width: 1440px;
}
.site-max-1600px #cookie-law-info-bar > span,
.site-max-1600px #cookie-law-info-bar .cli-wrapper > span  {
	max-width: 1600px;
}
@media (min-width: 568px) {
	#cookie-law-info-bar {
		padding: 25px;
	}
	#cookie-law-info-bar .buttons {
		justify-content: flex-end;
		margin-top: 0px;
		margin-left: 20px;
		flex-grow: 1;
	}
	#cookie-law-info-bar > span,
	#cookie-law-info-bar .cli-wrapper > span {
		flex-direction: row;
		align-items: center;
	}
}
@media (min-width: 768px) {
	#cookie-law-info-bar {
		font-size: 15px;
	}
	.cli_settings_button,
	.cli-plugin-button,
	.cli-plugin-button.medium {
		flex-grow: 0;
		padding-left: 25px;
		padding-right: 25px;
	}
}